<!DOCTYPE html>
<html lang="en">
    

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
   
</head>
<body>
   
    {%extends "crudapp/base.html" %}
    {%block content%}
    <h2>student details</h2>
    <table>
        <thead>
            <th>student no</th>
            <th>student name</th>
            <th>student class</th>
            <th>student address</th>
        </thead>
        <tr>
            {%for st in student%}
                <td>{{st.sno}}</td>
                <td>{{st.sname}}</td>
                <td>{{st.sclass}}</td>
                <td>{{st.saddress}}</td>
        </tr>
            {% endfor %}
    </table>

    <a href="#"><button type="button" >add new student</button></a>

    {%endblock%}

</body>
</html>